{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "Chrome": 56
        },
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "node": 6
            }
          }
        ],
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        "react",
        "flow",
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "IE 11"
              ]
            }
          },
          "stage-0"
        ]
      ],
      "plugins": [
        "transform-class-properties",
        "external-helpers"
      ]
    }
  }
}
